{% extends 'cms::layouts.frontend' %}

{% block content %}
   
    <!--==============================
        BANNER START
    ===============================-->
    <section class="tf__banner" style="background: url(images/banner_bg.jpg);">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xxl-5 col-md-10 col-lg-6 wow fadeInLeft" data-wow-duration="1s">
                    <div class="tf__banner_text">
                        <h5>Discover your journey</h5>
                        <h1>The Best Free Online <span>Courses</span> of All Time</h1>
                        <p>Take your learning organization to the next level. to the next level. Who will
                            share their knowledge to people.</p>
                        <a class="tf__common_btn" href="#">All Course <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6  wow fadeInRight" data-wow-duration="1s">
                    <div class="tf__banner_img">
                        <div class="img">
                            <img src="images/banner_img.png" alt="banner" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        BANNER END
    ===============================-->


    <!--==============================
        CATEGORY START
    ===============================-->
    <section class="tf__category pt_110 xs_pt_75 pb_120 xs_pb_80" style="background: url(images/category_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-9 col-lg-7 m-auto">
                    <a href="#" class="tf__section_heading heading_center  mb_30">
                        <h2>Explore Our Categories</h2>
                        <p>Take your learning organization to the next level. to the next level. Who will
                            share their knowledge to people around the world.</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_1">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_1.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>Data Science</h3>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_2">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_2.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>Finance</h3>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_3">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_3.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>Content Writing</h3>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_4">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_4.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>English</h3>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_2">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_5.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>Development</h3>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_4">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_6.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>Email Marketing</h3>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_2">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_7.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>Chemistry</h3>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <a href="#" class="tf__category_item category_3">
                        <div class="tf__category_logo">
                            <img src="images/category_icon_8.png" alt="category" class="img-fluid w-100">
                        </div>
                        <h3>IT / Technology</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        CATEGORY END
    ===============================-->


    <!--==============================
        ABOUT US END
    ===============================-->
    <section class="tf__about_us pt_120 xs_pt_80 pb_120 xs_pb_80" style="background: url(images/about_section_bg.jpg);">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-md-9 col-lg-6 wow fadeInLeft" data-wow-duration="1s">
                    <div class="tf__about_us_img">
                        <div class="img_1">
                            <img src="images/about-_img_1.jpg" alt="about us" class="img-fluid w-100">
                        </div>
                        <div class="img_2">
                            <img src="images/about-_img_2.jpg" alt="about us" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-duration="1s">
                    <div class="tf__about_us_text">
                        <div class="tf__section_heading mb_25">
                            <h2>We do great things together</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Aliquet suspendisse elementum feugiat sit vel
                            scelerisque. Pellentesque elit purus vel viverra rhoncus. Tempus eget dolor feugiat
                            porttitor. Et gravida tortor vel venenatis varius odio vivamus. Quam sed egestas amet vel.
                            Sed et viverra leo in pellentesque varius. </p>
                        <ul class="d-flex flex-wrap">
                            <li>
                                <span>
                                    <i class="fas fa-star"></i>
                                </span>
                                <h4>Build your career</h4>
                                <p>Online course quickly from anywhere.</p>
                            </li>
                            <li>
                                <span>
                                    <i class="fas fa-pencil-ruler"></i>
                                </span>
                                <h4>Grow your skill</h4>
                                <p>Online course quickly from anywhere.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        ABOUT US END
    ===============================-->


    <!--==============================
        COURSES START
    ===============================-->
    <section class="tf__courses pt_110 xs_pt_75 pb_120 xs_pb_80" style="background: url(images/courses_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-9 col-lg-7 m-auto">
                    <div class="tf__section_heading heading_center mb_30">
                        <h2>Our Popular Courses</h2>
                        <p>Take your learning organization to the next level. to the next level. Who will
                            share their knowledge to people around the world.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_courses">
                        <div class="tf__single_courses_img">
                            <img src="images/courses_img_1.jpg" alt="courses" class="img-fluid w-100">
                            <a class="category" href="#">Design</a>
                        </div>
                        <div class="tf__single_courses_text">
                            <ul class="d-flex flex-wrap justify-content-between">
                                <li>
                                    <span class="icon">
                                        <img src="images/book_icon.svg" alt="book" class="img-fluid w-100">
                                    </span>
                                    32 Lesson
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="images/star_icon.svg" alt="start" class="img-fluid w-100">
                                    </span>
                                    4.9 <span class="d-block ml_5">(25)</span>
                                </li>
                            </ul>
                            <a class="title" href="courses_details.html">Programming for all (Started With Python)</a>
                        </div>
                        <ul class="tf__single_courses_footer d-flex flex-wrap justify-content-between">
                            <li>
                                <span>
                                    <img src="images/user_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                110 Students
                            </li>
                            <li>
                                <span>
                                    <img src="images/doller_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                80.00
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_courses">
                        <div class="tf__single_courses_img">
                            <img src="images/courses_img_2.jpg" alt="courses" class="img-fluid w-100">
                            <a class="category sky" href="#">Business</a>
                        </div>
                        <div class="tf__single_courses_text">
                            <ul class="d-flex flex-wrap justify-content-between">
                                <li>
                                    <span class="icon">
                                        <img src="images/book_icon.svg" alt="book" class="img-fluid w-100">
                                    </span>
                                    43 Lesson
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="images/star_icon.svg" alt="start" class="img-fluid w-100">
                                    </span>
                                    5.0 <span class="d-block ml_5">(13)</span>
                                </li>
                            </ul>
                            <a class="title" href="courses_details.html">Dave conservatoire is the Entirely free
                                online</a>
                        </div>
                        <ul class="tf__single_courses_footer d-flex flex-wrap justify-content-between">
                            <li>
                                <span>
                                    <img src="images/user_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                78 Students
                            </li>
                            <li>
                                <span>
                                    <img src="images/doller_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                99.00
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_courses">
                        <div class="tf__single_courses_img">
                            <img src="images/courses_img_3.jpg" alt="courses" class="img-fluid w-100">
                            <a class="category green" href="#">Finance</a>
                        </div>
                        <div class="tf__single_courses_text">
                            <ul class="d-flex flex-wrap justify-content-between">
                                <li>
                                    <span class="icon">
                                        <img src="images/book_icon.svg" alt="book" class="img-fluid w-100">
                                    </span>
                                    18 Lesson
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="images/star_icon.svg" alt="start" class="img-fluid w-100">
                                    </span>
                                    4.5 <span class="d-block ml_5">(32)</span>
                                </li>
                            </ul>
                            <a class="title" href="courses_details.html">Project Management Principles & Practices</a>
                        </div>
                        <ul class="tf__single_courses_footer d-flex flex-wrap justify-content-between">
                            <li>
                                <span>
                                    <img src="images/user_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                48 Students
                            </li>
                            <li>
                                <span>
                                    <img src="images/doller_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                89.00
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_courses">
                        <div class="tf__single_courses_img">
                            <img src="images/courses_img_4.jpg" alt="courses" class="img-fluid w-100">
                            <a class="category sky" href="#">Marketing</a>
                        </div>
                        <div class="tf__single_courses_text">
                            <ul class="d-flex flex-wrap justify-content-between">
                                <li>
                                    <span class="icon">
                                        <img src="images/book_icon.svg" alt="book" class="img-fluid w-100">
                                    </span>
                                    27 Lesson
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="images/star_icon.svg" alt="start" class="img-fluid w-100">
                                    </span>
                                    4.6 <span class="d-block ml_5">(24)</span>
                                </li>
                            </ul>
                            <a class="title" href="courses_details.html">Project Management Principles & Practices</a>
                        </div>
                        <ul class="tf__single_courses_footer d-flex flex-wrap justify-content-between">
                            <li>
                                <span>
                                    <img src="images/user_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                143 Students
                            </li>
                            <li>
                                <span>
                                    <img src="images/doller_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                79.00
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_courses">
                        <div class="tf__single_courses_img">
                            <img src="images/courses_img_2.jpg" alt="courses" class="img-fluid w-100">
                            <a class="category" href="#">Business</a>
                        </div>
                        <div class="tf__single_courses_text">
                            <ul class="d-flex flex-wrap justify-content-between">
                                <li>
                                    <span class="icon">
                                        <img src="images/book_icon.svg" alt="book" class="img-fluid w-100">
                                    </span>
                                    40 Lesson
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="images/star_icon.svg" alt="start" class="img-fluid w-100">
                                    </span>
                                    5.0 <span class="d-block ml_5">(52)</span>
                                </li>
                            </ul>
                            <a class="title" href="courses_details.html">Programming for all (Started With Python)</a>
                        </div>
                        <ul class="tf__single_courses_footer d-flex flex-wrap justify-content-between">
                            <li>
                                <span>
                                    <img src="images/user_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                57 Students
                            </li>
                            <li>
                                <span>
                                    <img src="images/doller_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                90.00
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_courses">
                        <div class="tf__single_courses_img">
                            <img src="images/courses_img_6.jpg" alt="courses" class="img-fluid w-100">
                            <a class="category green" href="#">UI/UX</a>
                        </div>
                        <div class="tf__single_courses_text">
                            <ul class="d-flex flex-wrap justify-content-between">
                                <li>
                                    <span class="icon">
                                        <img src="images/book_icon.svg" alt="book" class="img-fluid w-100">
                                    </span>
                                    34 Lesson
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="images/star_icon.svg" alt="start" class="img-fluid w-100">
                                    </span>
                                    4.9 <span class="d-block ml_5">(80)</span>
                                </li>
                            </ul>
                            <a class="title" href="courses_details.html">Dave conservatoire is the Entirely free
                                online</a>
                        </div>
                        <ul class="tf__single_courses_footer d-flex flex-wrap justify-content-between">
                            <li>
                                <span>
                                    <img src="images/user_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                142 Students
                            </li>
                            <li>
                                <span>
                                    <img src="images/doller_icon.svg" alt="user" class="img-fluid w-100">
                                </span>
                                80.00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        COURSES END
    ===============================-->


    <!--==============================
        STUDENT CHOOSE START
    ===============================-->
    <section class="tf__student_choose pt_120 xs_pt_80 pb_115 xs_pb_75"
        style="background: url(images/student_choose_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-duration="1s">
                    <div class="tf__student_choose_text">
                        <div class="tf__section_heading mb_35">
                            <h2>Why Students Choose Us for Gain Their Knowledge</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Posuere vulputate at tortor aenean tortor tincidunt
                            dui consequat enim. Vel iaculis euismod et scelerisque condimentum nulla cras. Praesent diam
                            orci id et eu nulla id. Auctor fermentum.</p>
                        <ul>
                            <li>Free for physically handcraft.</li>
                            <li>Easy to enroll courses</li>
                            <li>Course certificate for particular course</li>
                        </ul>
                        <a class="tf__common_btn2" href="#">More About Us</a>
                    </div>
                </div>
                <div class="col-xl-6 col-md-10 col-lg-6 wow fadeInRight" data-wow-duration="1s">
                    <div class="tf__student_choose_img">
                        <div class="img_1">
                            <img src="images/student_choose_img_1.jpg" alt="student choose" class="img-fluid w-100">
                        </div>
                        <div class="img_2">
                            <img src="images/student_choose_img_2.jpg" alt="student choose" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        STUDENT CHOOSE END
    ===============================-->


    <!--==============================
        EVENT START
    ===============================-->
    <section class="tf__event pt_110 xs_pt_75 pb_120 xs_pb_80" style="background: url(images/event_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-9 col-lg-7 m-auto">
                    <div class="tf__section_heading heading_center mb_35 xs_mb_30">
                        <h2>Our Upcoming Events</h2>
                        <p>Take your learning organization to the next level. to the next level. Who will
                            share their knowledge to people around the world.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_event">
                        <div class="tf__single_event_date">
                            <img src="images/courses_img_1.jpg" alt="event" class="img-fluid w-100">
                            <h2>23 <span>March, 2023</span></h2>
                        </div>
                        <div class="tf__single_event_text">
                            <h3>A Better Alternative To Grading Student Writing</h3>
                            <ul>
                                <li><i class="fal fa-stopwatch"></i> 9.00 AM</li>
                                <li><i class="far fa-map-marker-alt"></i> Dhaka, Bangladesh</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur. Sit quam nulla ipsum amet iaculis quam porttitor
                                tristique at. Sit lacus euismod mae.</p>
                            <a href="event_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_event">
                        <div class="tf__single_event_date">
                            <img src="images/courses_img_2.jpg" alt="event" class="img-fluid w-100">
                            <h2>17 <span>Apr, 2023</span></h2>
                        </div>
                        <div class="tf__single_event_text">
                            <h3>12 Things Successful Mompreneurs</h3>
                            <ul>
                                <li><i class="fal fa-stopwatch"></i> 12.30 AM</li>
                                <li><i class="far fa-map-marker-alt"></i> Dhaka, Bangladesh</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur. Sit quam nulla ipsum amet iaculis quam porttitor
                                tristique at. Sit lacus euismod mae.</p>
                            <a href="event_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_event">
                        <div class="tf__single_event_date">
                            <img src="images/courses_img_3.jpg" alt="event" class="img-fluid w-100">
                            <h2>07 <span>Oct, 2023</span></h2>
                        </div>
                        <div class="tf__single_event_text">
                            <h3>Ethics in Al Live Event Machines Judging.</h3>
                            <ul>
                                <li><i class="fal fa-stopwatch"></i> 12.30 AM</li>
                                <li><i class="far fa-map-marker-alt"></i> Dhaka, Bangladesh</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur. Sit quam nulla ipsum amet iaculis quam porttitor
                                tristique at. Sit lacus euismod mae.</p>
                            <a href="event_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_event">
                        <div class="tf__single_event_date">
                            <img src="images/courses_img_3.jpg" alt="event" class="img-fluid w-100">
                            <h2>23 <span>Jul, 2023</span></h2>
                        </div>
                        <div class="tf__single_event_text">
                            <h3>The Importance Of Intrinsic Motivation.</h3>
                            <ul>
                                <li><i class="fal fa-stopwatch"></i> 1.00 AM</li>
                                <li><i class="far fa-map-marker-alt"></i> Dhaka, Bangladesh</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur. Sit quam nulla ipsum amet iaculis quam porttitor
                                tristique at. Sit lacus euismod mae.</p>
                            <a href="event_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        EVENT END
    ===============================-->


    <!--==============================
        TESTIMONIAL START
    ===============================-->
    <section class="tf__testimonial pt_110 xs_pt_75 pb_115 xs_pb_75"
        style="background: url(images/testimonial_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-9 col-lg-7">
                    <div class="tf__section_heading mb_60">
                        <h2>What Our Student Saying</h2>
                        <p>Take your learning organization to the next level. to the next level. Who will
                            share their knowledge to people around the world.</p>
                    </div>
                </div>
            </div>
            <div class="row testi_slider">
                <div class="col-xl-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_testimonial">
                        <div class="img">
                            <img src="images/testimonial_img_3.jpg" alt="testimonial" class="img-fluid w-100">
                        </div>
                        <h4>Leslie Alexander</h4>
                        <span>Dog Trainer</span>
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur. Hac ullamcorper nisi con velit
                            eget dignissim pharetra at. Libero ultrices semper aliquet fusce aliquam nunc. Platea cursus
                            in duis semper non lectus. Facili nibh duis viverra faucibus a turpis.</p>
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_testimonial">
                        <div class="img">
                            <img src="images/testimonial_img_2.jpg" alt="testimonial" class="img-fluid w-100">
                        </div>
                        <h4>Leslie Alexander</h4>
                        <span>Dog Trainer</span>
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur. Hac ullamcorper nisi con velit
                            eget dignissim pharetra at. Libero ultrices semper aliquet fusce aliquam nunc. Platea cursus
                            in duis semper non lectus. Facili nibh duis viverra faucibus a turpis.</p>
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_testimonial">
                        <div class="img">
                            <img src="images/testimonial_img_1.jpg" alt="testimonial" class="img-fluid w-100">
                        </div>
                        <h4>Leslie Alexander</h4>
                        <span>Dog Trainer</span>
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur. Hac ullamcorper nisi con velit
                            eget dignissim pharetra at. Libero ultrices semper aliquet fusce aliquam nunc. Platea cursus
                            in duis semper non lectus. Facili nibh duis viverra faucibus a turpis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        TESTIMONIAL END
    ===============================-->


    <!--==============================
        CERTIFICATE START
    ===============================-->
    <section class="tf__certificate" style="background: url(images/certificate_bg.jpg);">
        <div class="tf__certificate_overlay pt_60 pb_60 xs_pb_5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_certificate">
                            <span>
                                <img src="images/certificate_icon_1.png" alt="icon" class="img-fluid w-100">
                            </span>
                            <h4>Online Certification</h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_certificate">
                            <span>
                                <img src="images/certificate_icon_2.png" alt="icon" class="img-fluid w-100">
                            </span>
                            <h4>Top Instructors</h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_certificate">
                            <span>
                                <img src="images/certificate_icon_3.png" alt="icon" class="img-fluid w-100">
                            </span>
                            <h4>Unlimited Access</h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_certificate">
                            <span>
                                <img src="images/certificate_icon_4.png" alt="icon" class="img-fluid w-100">
                            </span>
                            <h4>Experienced Members</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        CERTIFICATE END
    ===============================-->


    <!--==============================
        INSTRUCTOR START
    ===============================-->
    <section class="tf__instructor" style="background: url(images/instructor_bg.jpg);">
        <div class="tf__instructor_overlay  pt_110 xs_pt_75 pb_80 xs_pb_40">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-9 col-lg-7 m-auto">
                        <div class="tf__section_heading heading_center mb_35 xs_mb_30">
                            <h2>Our Expert Instructor</h2>
                            <p>Take your learning organization to the next level. to the next level. Who will
                                share their knowledge to people around the world.</p>
                        </div>
                    </div>
                </div>
                <div class="row team_slider">
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_instructor">
                            <a href="instructor_details.html" class="tf__single_instructor_img">
                                <img src="images/instructor_img_1.png" alt="instructor" class="img-fluid w-100">
                            </a>
                            <div class="tf__instructor_text">
                                <a href="instructor_details.html">Darrell Steward</a>
                                <p>Sales & Marketing</p>
                            </div>
                            <ul>
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_instructor">
                            <a href="instructor_details.html" class="tf__single_instructor_img">
                                <img src="images/instructor_img_2.png" alt="instructor" class="img-fluid w-100">
                            </a>
                            <div class="tf__instructor_text">
                                <a href="instructor_details.html">Devon Lane</a>
                                <p>Web Designer</p>
                            </div>
                            <ul>
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_instructor">
                            <a href="instructor_details.html" class="tf__single_instructor_img">
                                <img src="images/instructor_img_3.png" alt="instructor" class="img-fluid w-100">
                            </a>
                            <div class="tf__instructor_text">
                                <a href="instructor_details.html">Floyd Miles</a>
                                <p>Graphic Designer</p>
                            </div>
                            <ul>
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_instructor">
                            <a href="instructor_details.html" class="tf__single_instructor_img">
                                <img src="images/instructor_img_4.png" alt="instructor" class="img-fluid w-100">
                            </a>
                            <div class="tf__instructor_text">
                                <a href="instructor_details.html">Darrell Steward</a>
                                <p>Sales & Marketing</p>
                            </div>
                            <ul>
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="tf__single_instructor">
                            <a href="instructor_details.html" class="tf__single_instructor_img">
                                <img src="images/instructor_img_5.png" alt="instructor" class="img-fluid w-100">
                            </a>
                            <div class="tf__instructor_text">
                                <a href="instructor_details.html">Devon Lane</a>
                                <p>Web Designer</p>
                            </div>
                            <ul>
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        INSTRUCTOR END
    ===============================-->


    <!--==============================
        BLOG START
    ===============================-->
    <section class="tf__blog pt_110 xs_pt_75 pb_100 xs_pb_60" style="background: url(images/blog_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-9 col-lg-7 m-auto">
                    <div class="tf__section_heading heading_center mb_30 xs_mb_30">
                        <h2>Latest News Feed</h2>
                        <p>Take your learning organization to the next level. to the next level. Who will
                            share their knowledge to people around the world.</p>
                    </div>
                </div>
            </div>
            <div class="row blog_slider">
                <div class="col-xl-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_blog">
                        <div class="tf__single_blog_img">
                            <img src="images/blog_img_5.jpg" alt="blog" class="img-fluid w-100">
                        </div>
                        <div class="tf__single_blog_text">
                            <ul>
                                <li>
                                    <span>
                                        <img src="images/bloger_1.jpg" alt="bloger" class="img-fluid w-100">
                                    </span>
                                    Jerome Bell
                                </li>
                                <li><i class="fal fa-calendar-alt"></i> 23 May, 2022</li>
                            </ul>
                            <a class="title" href="blog_details.html">How do I Sell Affiliate Products to My
                                Customers</a>
                            <div class="tf__single_blog_footer">
                                <a href="blog_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                                <span><i class="far fa-eye"></i> 80 View</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_blog">
                        <div class="tf__single_blog_img">
                            <img src="images/blog_img_6.jpg" alt="blog" class="img-fluid w-100">
                        </div>
                        <div class="tf__single_blog_text">
                            <ul>
                                <li>
                                    <span>
                                        <img src="images/bloger_2.jpg" alt="bloger" class="img-fluid w-100">
                                    </span>
                                    Jhon Due
                                </li>
                                <li><i class="fal fa-calendar-alt"></i> 24 May, 2022</li>
                            </ul>
                            <a class="title" href="blog_details.html">Group Of Students Sharing Their Ideas</a>
                            <div class="tf__single_blog_footer">
                                <a href="blog_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                                <span><i class="far fa-eye"></i> 47 View</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_blog">
                        <div class="tf__single_blog_img">
                            <img src="images/blog_img_3.jpg" alt="blog" class="img-fluid w-100">
                        </div>
                        <div class="tf__single_blog_text">
                            <ul>
                                <li>
                                    <span>
                                        <img src="images/bloger_3.jpg" alt="bloger" class="img-fluid w-100">
                                    </span>
                                    Annette Black
                                </li>
                                <li><i class="fal fa-calendar-alt"></i> 28 Jun, 2022</li>
                            </ul>
                            <a class="title" href="blog_details.html">Creative Class Library For Students</a>
                            <div class="tf__single_blog_footer">
                                <a href="blog_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                                <span><i class="far fa-eye"></i> 25 View</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__single_blog">
                        <div class="tf__single_blog_img">
                            <img src="images/blog_img_7.jpg" alt="blog" class="img-fluid w-100">
                        </div>
                        <div class="tf__single_blog_text">
                            <ul>
                                <li>
                                    <span>
                                        <img src="images/bloger_1.jpg" alt="bloger" class="img-fluid w-100">
                                    </span>
                                    Jerome Bell
                                </li>
                                <li><i class="fal fa-calendar-alt"></i> 03 Mar, 2022</li>
                            </ul>
                            <a class="title" href="blog_details.html">12th Batch Student’s Convocational Day</a>
                            <div class="tf__single_blog_footer">
                                <a href="blog_details.html">View Details <i class="far fa-long-arrow-right"></i></a>
                                <span><i class="far fa-eye"></i> 71 View</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        BLOG END
    ===============================-->
{% endblock %}
