<div class="tf__footer_content">
    <h3>{{ data.title }}</h3>
    <p>{{ data.description }}</p>
    <form>
        <input type="text" placeholder="{{ data.placeholder }}">
        <button type="submit">{{ data.button_text }}</button>
    </form>
</div> 