<div class="tf__sidebar_search">
    <h3>{{ data.title }}</h3>
    <form action="{{ url('search') }}">
        <input type="text" placeholder="Search" name="q">
        <button type="submit"><i class="far fa-search"></i></button>
    </form>
</div>

