<div class="tf__sidebar_search">
    <h3>{{ data.title }}</h3>
    <form>
        <input type="text" placeholder="Search">
        <button type="submit"><i class="far fa-search"></i></button>
    </form>
</div>

