@use '../utils' as *;
/*----------------------------------------*/
/*  2.9 Breadcrumb
/*----------------------------------------*/

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  list-style: none;
  background-color: transparent;

  &-arrows {
    .breadcrumb-item {
      &.active {
        color: #6c757d;
      }

      a {
        color: var(--ms-theme-primary);
        text-decoration: none;
        font-weight: var(--tblr-breadcrumb-item-active-font-weight) !important;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
